@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1e40af;
  --secondary: #2563eb;
  --light: #f3f4f6;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: var(--light);
  --color-white: #ffffff;

  /* Fonts */
  --font-heading: var(--font-bebas);
  --font-body: var(--font-manrope);

  /* Heading sizes mapping */
  --font-size-h1: clamp(3.5rem, 4.2vw + 2.75rem, 5.75rem); /* 3.81rem - 6.66rem */
  --font-size-h2: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem); /* 3.05rem - 5rem */
  --font-size-h3: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem); /* 2.44rem - 3.75rem */
  --font-size-h4: clamp(1.56rem, 1vw + 1.31rem, 2.11rem); /* 1.95rem - 2.81rem */
  --font-size-h5: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem); /* 1.56rem - 2.11rem */
  --font-size-h6: clamp(1rem, 0.34vw + 0.91rem, 1.19rem); /* 1.25rem - 1.58rem */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas), sans-serif;
  font-weight: 400;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

.cursor {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: -50%;
  border-radius: 100%;
  z-index: 10000;
  transition: all 150ms ease-out;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .font-bebas {
    font-family: var(--font-bebas), sans-serif;
  }
}
