@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1e40af;
  --secondary: #2563eb;
  --light: #f3f4f6;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: var(--light);
  --color-white: #ffffff;

  /* Fonts */
  --font-heading: var(--font-bebas);
  --font-body: var(--font-manrope);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas), sans-serif;
  font-weight: 400;
}

.cursor {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: -50%;
  border-radius: 100%;
  z-index: 10000;
  transition: all 150ms ease-out;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .font-bebas {
    font-family: var(--font-bebas), sans-serif;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.animate-marquee {
  animation: marquee 3s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
